# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_NAME=drc_erp
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
ENCRYPTION_KEY=drc_erp_secure_aes256_symmetric_key_2026

# Configuración de Base de Datos Réplica - Lectura - Opcional
# DB_READ_HOST=127.0.0.1
# DB_READ_NAME=drc_erp
# DB_READ_USER=root
# DB_READ_PASS=

# Token de seguridad para Cron Jobs
CRON_SECRET=drc_erp_weekly_cron_secret_key_2026


